.search-input-outer-wrapper {
    display: flex;
    justify-content: center;
}

.search-input-inner-wrapper {
    flex: 1;
    max-width: 342px;
    position: relative;
}

.search-input {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 22px;
    box-sizing: border-box;
    padding: 0 15px;
    height: 44px;
    border: none;
    width: 100%;

    &, &::placeholder {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #01D277;
    }
}

#search-input-icon {
    position: absolute;
    padding: 14px;
    right: 4px;

    cursor: pointer;

    > path {
        transition: 0.2s;
    }

    &:hover > path {
        fill: #00a55b !important;
    }
}