.movie-list {
    display: flex;
    flex-wrap: wrap;

    > .movie-list-movie-wrapper {
        padding: 12px 15px;
        flex: 1;
    }

    > p {
        font-weight: 100;
        padding-left: 15px;
        color: #E3F4FC;
    }
}