.movie-db-app {
  background-color: #081B23;
  min-height: 100vh;
}

.home-movies-wrapper {
  h1 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
    margin: 12px 0;

    padding-left: 15px;
    color: #E3F4FC;
  }
}